<!DOCTYPE html>
<html><head>
	<title>Flood Sayat</title>
	<meta charset="utf-8">
    <meta name="author" content="Flood Sayat dot me">

    <meta property="og:title" content="FloodSayat.me"/>
    <meta property="og:description" content="Flood your Sayat.me friends! 100% Free"/>
    <meta property="og:site_name" content="Flood your Sayat.me friends! 100% Free"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://floodsayat.me/"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="FloodSayat.me">
    <meta name="twitter:description" content="Flood your Sayat.me friends! 100% Free">

    <meta name="description" content="Flood your Sayat.me friends! 100% Free.">
    <meta name="keywords" content="Flood Sayat, sayat me, anonymous feedback, give feedback, instagram sayat, sayat dot me, sayat anonymous">
    <meta name="robots" content="index,follow">
    <meta name="theme-color" content="#410e6d">


    <link rel="shortcut icon" href="{{url_for('static',filename='img/icon.png')}}">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70893617-4', 'auto');
  ga('send', 'pageview');

</script>
    <style>

#back button {
  background: white;
  padding: 10px;
  width:200px;
  cursor: pointer;
  border:0px;
  border-radius: 10px;
  color:#410e6d;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}</style>
</head>
<body>
	<div id="ocean"></div>
	<header>
		<main>
			<div class="cent">
				<p>Flood your Sayat.me friends! 100% Free</p><br>
				<h1>There seems to be an error....</h1>
                <p></p>

                  <div id="back">
                    <h1>Why not try again?</h1><br><br>
                    <a href="/">
                      <button>Flood Again</button>
                    </a>
                  </div>
			</div>
		</main>
	</header>
<nav>
	<div style="position: relative;">
		<img src="{{url_for('static',filename='img/logo.png')}}">
	</div>
</nav>
<footer>
	<div>
		<a href="#" class="white term"> Terms and Condition</a> <a class="white about" href="#"> - About</a> <a class="white contact" href="#"> - Contact</a>
	</div>
	<div>
		Check this out - <a href="http://downloadanysong.com" target="_black" class="white" style="color:#b672f3;"> Download Any Song </a>
	</div>
</footer>


<section class="term-sec">
  <h1>Terms of Service.</h1><br>
  <div class="terms">
      <b>1.</b> DownloadAnySong.com does not host any of the music files displayed on this site.<br>
      <b>2.</b> DownloadAnySong.com indexes these files which are located on remote servers which neither DownloadAnySong.com nor it’s affiliates have any connection with / control of / association with.<br>
      <b>3.</b> You download mp3 files from another host service. (not from DownloadAnySong.com).<br>
      <b>4.</b> All music on is presented only for fact-finding listening.<br>
      <b>5.</b> You must remove the song from the device after listening.<br>
      <b>6.</b> If you don't delete files from the device, You will break the copyrights protection laws.<br>
      <b>7.</b> All the rights on the songs are the property of their respective owners.<br>
      <b>8.</b> If You have found a link to an illegal mp3 file or a search please drop us an email at downloadanysong.contact@gmail.com.<br>
      <b>9.</b> What is copyright? Copyright is a form of protection provided for original works of authorship, including literary, dramatic, musical, graphic and audiovisual creations. “Copyright” literally means the right to copy, but has come to mean that body of exclusive rights granted by law to copyright owners for protection of their work.<br>
      <br>
      What is copyright infringement? Copyright infringement occurs when a copyrighted work is reproduced, distributed, performed, publicly displayed, or made into a derivative work without the permission of the copyright owner.
      <br><br>
      We hope you will work with us to keep the community a creative, legal and positive experience for everyone, including artists and creators.
      <br><br>
      <strong>Please email us at downloadanysong.contact@gmail.com for any takedown request.</strong>
      <br><br>
      Please also note that the information provided in this legal notice may be forwarded to the person who provided the allegedly infringing content.
  </div>
  <a href="#" class="close"></a>
</section>

<section class="about-sec">
  <h1>About</h1><br>
  <div class="terms">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
         consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
         cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
         proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <a href="#" class="close"></a>
</section>

<section class="contact-sec">
  <h1>Contact</h1><br>
  <div class="terms">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
         quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
         consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
         cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
         proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <a href="#" class="close"></a>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".term").click(function(){
      $('.term-sec').fadeIn();
      $('.close').fadeIn();
      shareButton1 = 1;
    });
    $(".term-sec .close").click(function(){
      $(".term-sec").fadeOut();
      $(".term-sec .close").fadeOut();
      shareButton1 = 0;
    });
  });

  $(document).ready(function(){
    $(".about").click(function(){
      $('.about-sec').fadeIn();
      $('.close').fadeIn();
      shareButton2 = 1;
    });
    $(".about-sec .close").click(function(){
      $(".about-sec").fadeOut();
      $(".about-sec .close").fadeOut();
      shareButton2 = 0;
    });
  });

  $(document).ready(function(){
    $(".contact").click(function(){
      $('.contact-sec').fadeIn();
      $('.close').fadeIn();
      shareButton2 = 1;
    });
    $(".contact-sec .close").click(function(){
      $(".contact-sec").fadeOut();
      $(".contact-sec .close").fadeOut();
      shareButton2 = 0;
    });
  });

	var ocean = document.getElementById("ocean"),
	waveWidth = 10,
	waveCount = Math.floor(window.innerWidth/waveWidth),
	docFrag = document.createDocumentFragment();

	for(var i = 0; i < waveCount; i++){
	var wave = document.createElement("div");
	wave.className += " wave";
	docFrag.appendChild(wave);
	wave.style.left = i * waveWidth + "px";
	wave.style.webkitAnimationDelay = (i/100) + "s";
	}

	ocean.appendChild(docFrag);

</script>

</body></html>